@tailwind base;
@tailwind components;
@tailwind utilities;

.text-component-container {
  position: relative;
}

.score-container {
  position: absolute !important;
}

.text-component-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Nero con opacità al 50% */
  border-radius: inherit; /* Mantiene il bordo arrotondato del div */
  z-index: 0;
}

.text-component-container > * {
  position: relative;
  z-index: 1;
}

.lost-component-container {
    position: relative;
  }
  
  .lost-component-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Nero con opacità al 50% */
    border-radius: inherit; /* Mantiene il bordo arrotondato del div */
    z-index: 0;
  }
  
  .lost-component-container > * {
    position: relative;
    z-index: 1;
  }
  
